Телеграмм-бот нутрициолог.json
{
  "name": "Телеграмм-бот нутрициолог",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "4ac09e10-e834-4ac2-a150-f51a5167d935",
      "name": "Download Voice Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1776,
        848
      ],
      "webhookId": "d3e9d36d-6402-45d6-9f56-5886e616f9fa",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "VAsyM5DDI45JbKTN",
          "name": "нутрициолог"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fcb767ee-565e-4b56-a54e-6f97f739fc24",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c1016c40-f8f2-4e08-8ec8-5cdb88f5c87a",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "f8150ac7-eea4-4658-8da9-f7a1c88a471d",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false,
          "allMatchingOutputs": true
        }
      },
      "id": "f82a78a8-fcbb-4360-a5c5-00751bfcc81a",
      "name": "Input Message Router1",
      "type": "n8n-nodes-base.switch",
      "position": [
        1408,
        912
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "801ec600-22ad-4a94-a2b4-ae72eb271df0",
              "name": "message",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            },
            {
              "id": "263071fb-bcdf-42b0-bb46-71b75fa0bf2a",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "497e6d45-cb92-4b4e-b747-4b18c096f2cb",
      "name": "get_message (text)",
      "type": "n8n-nodes-base.set",
      "position": [
        2048,
        576
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[3]?.file_id || $('Telegram Trigger').item.json.message.photo[2]?.file_id || $('Telegram Trigger').item.json.message.photo[1]?.file_id }}",
        "additionalFields": {}
      },
      "id": "fb9bbd92-a6f5-477c-917a-667a686130d6",
      "name": "Download IMAGE",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1776,
        1024
      ],
      "webhookId": "b4a21f4c-e6a6-4c83-9e8e-af73cb7cc96a",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "VAsyM5DDI45JbKTN",
          "name": "нутрициолог"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "id": "13002dc3-d239-4b3a-98e0-ff3764d92f17",
      "name": "Typing…",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1040,
        560
      ],
      "webhookId": "412793ca-7cad-4a84-acea-98debbbfa2ac",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "VAsyM5DDI45JbKTN",
          "name": "нутрициолог"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8935452-fe20-469d-a68d-1aad056cb8dd",
              "name": "message",
              "type": "string",
              "value": "=It was not possible to process the file.File type not supported."
            },
            {
              "id": "38ba2498-2141-4a04-a22a-64563fe2ee6f",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31428377-07d9-453b-86ea-a867b363e3a6",
      "name": "get_error_message1",
      "type": "n8n-nodes-base.set",
      "position": [
        2000,
        1200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "d43c11c3-8bbb-4740-86c1-576b28fefc29",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3312,
        912
      ],
      "webhookId": "a23f92f8-c4e9-44a5-8c17-e7623f18a851",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "VAsyM5DDI45JbKTN",
          "name": "нутрициолог"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * MarkdownV2-safe formatter + auto-chunker for Telegram (n8n Code node)\n * --------------------------------------------------------------------\n * - Allows: *bold*, _italic_, ||spoiler||, [label](url)\n * - Escapes everything else for Telegram MarkdownV2\n * - Validates/normalizes URLs\n * - Converts \"# Heading\" lines to bold titles\n * - Splits long messages into <= 4096-char chunks (uses a 4000-char budget)\n * - Outputs one item per chunk so the Telegram node sends all parts\n *\n * Recommended: Run this node in \"Run Once for All Items\".\n */\n\nconst MAX_TELEGRAM = 4096;\nconst SAFE_BUDGET = 4000; // small margin to avoid edge overflows\n\n// ============ MarkdownV2 helpers ============\nfunction escapeMarkdownV2(text) {\n  if (!text) return '';\n  return String(text).replace(/([\\\\_*[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n}\n\nfunction escapeForUrl(url) {\n  return String(url).replace(/[)\\\\]/g, '\\\\$&');\n}\n\nfunction normalizeAndValidateUrl(url) {\n  let raw = String(url || '').trim();\n  try {\n    const u = new URL(raw);\n    return u.toString();\n  } catch {}\n  // Try https:// for bare domains\n  const domainLike = /^[a-z0-9.-]+\\.[a-z]{2,}([/:?#].*)?$/i.test(raw);\n  if (domainLike) {\n    try {\n      const u2 = new URL('https://' + raw);\n      return u2.toString();\n    } catch {}\n  }\n  return null;\n}\n\nfunction normalizeHeadings(text) {\n  // Turn \"# Title\" → \"*Title*\"\n  return text.replace(/^(#{1,6})\\s+(.*)$/gm, (m, hashes, title) => `*${title.trim()}*`);\n}\n\nfunction normalizeCommonMd(text) {\n  return String(text)\n    .replace(/\\*\\*([\\s\\S]*?)\\*\\*/g, '*$1*') // **bold** → *bold*\n    .replace(/__([\\s\\S]*?)__/g, '_$1_');    // __italic__ → _italic_\n}\n\n/**\n * Convert incoming text to Telegram-safe MarkdownV2.\n */\nfunction processMarkdownV2Safe(inputText) {\n  if (!inputText) return '';\n\n  let text = normalizeCommonMd(String(inputText));\n  text = normalizeHeadings(text);\n\n  const placeholders = { links: [], bolds: [], italics: [], spoilers: [] };\n\n  // Links: keep safe via placeholders during escaping\n  text = text.replace(/\\[([^\\]\\n]+)\\]\\(([^)]+)\\)/g, (m, label, url) => {\n    const normalizedUrl = normalizeAndValidateUrl(url);\n    if (!normalizedUrl) return escapeMarkdownV2(label);\n    const idx = placeholders.links.length;\n    const ph = `⟬L${idx}⟭`;\n    const safeLabel = escapeMarkdownV2(label);\n    const safeUrl = escapeForUrl(normalizedUrl);\n    placeholders.links.push(`[${safeLabel}](${safeUrl})`);\n    return ph;\n  });\n\n  // Bold\n  text = text.replace(/\\*([\\s\\S]+?)\\*/g, (m, inner) => {\n    const idx = placeholders.bolds.length;\n    const ph = `⟬B${idx}⟭`;\n    placeholders.bolds.push(`*${escapeMarkdownV2(inner)}*`);\n    return ph;\n  });\n\n  // Italic\n  text = text.replace(/_([\\s\\S]+?)_/g, (m, inner) => {\n    const idx = placeholders.italics.length;\n    const ph = `⟬I${idx}⟭`;\n    placeholders.italics.push(`_${escapeMarkdownV2(inner)}_`);\n    return ph;\n  });\n\n  // Spoilers\n  text = text.replace(/\\|\\|([\\s\\S]+?)\\|\\|/g, (m, inner) => {\n    const idx = placeholders.spoilers.length;\n    const ph = `⟬S${idx}⟭`;\n    placeholders.spoilers.push(`||${escapeMarkdownV2(inner)}||`);\n    return ph;\n  });\n\n  // Escape everything else\n  text = escapeMarkdownV2(text);\n\n  // Restore placeholders\n  placeholders.links.forEach((md, i) => { text = text.replace(`⟬L${i}⟭`, md); });\n  placeholders.bolds.forEach((md, i) => { text = text.replace(`⟬B${i}⟭`, md); });\n  placeholders.italics.forEach((md, i) => { text = text.replace(`⟬I${i}⟭`, md); });\n  placeholders.spoilers.forEach((md, i) => { text = text.replace(`⟬S${i}⟭`, md); });\n\n  return text;\n}\n\n// ============ Chunking helpers ============\n/**\n * Split text into Telegram-safe chunks <= maxLen.\n * Prefers paragraph boundaries, then sentence boundaries, then words.\n * Falls back to hard cuts only when unavoidable (e.g., extremely long URL).\n */\nfunction chunkForTelegram(text, maxLen = SAFE_BUDGET) {\n  if (!text || text.length <= maxLen) return [text || ''];\n\n  const parts = [];\n  let buffer = '';\n\n  const flush = () => {\n    if (buffer) {\n      parts.push(buffer);\n      buffer = '';\n    }\n  };\n\n  // 1) Paragraph-level packing\n  const paragraphs = text.split(/\\n{2,}/);\n  for (const pRaw of paragraphs) {\n    const p = pRaw; // keep paragraph as-is\n    const candidate = buffer ? buffer + '\\n\\n' + p : p;\n    if (candidate.length <= maxLen) {\n      buffer = candidate;\n      continue;\n    }\n    if (p.length <= maxLen) {\n      flush();\n      buffer = p;\n      continue;\n    }\n\n    // 2) Sentence-level packing (paragraph is still too big)\n    flush();\n    const sentences = p.split(/(?<=[.!?…])\\s+(?=[^\\s])/u);\n    let sBuf = '';\n    for (const s of sentences) {\n      const sCandidate = sBuf ? sBuf + ' ' + s : s;\n      if (sCandidate.length <= maxLen) {\n        sBuf = sCandidate;\n        continue;\n      }\n      if (s.length <= maxLen) {\n        if (sBuf) parts.push(sBuf);\n        sBuf = s;\n        continue;\n      }\n\n      // 3) Word-level packing (sentence is still too big)\n      if (sBuf) { parts.push(sBuf); sBuf = ''; }\n      let wBuf = '';\n      const words = s.split(/\\s+/);\n      for (const w of words) {\n        const wCandidate = wBuf ? wBuf + ' ' + w : w;\n        if (wCandidate.length <= maxLen) {\n          wBuf = wCandidate;\n          continue;\n        }\n        if (w.length <= maxLen) {\n          if (wBuf) parts.push(wBuf);\n          wBuf = w;\n          continue;\n        }\n        // 4) Hard split (extremely long token, e.g., massive URL)\n        if (wBuf) { parts.push(wBuf); wBuf = ''; }\n        const re = new RegExp(`.{1,${maxLen}}`, 'g');\n        const hardPieces = w.match(re) || [];\n        parts.push(...hardPieces);\n      }\n      if (wBuf) parts.push(wBuf);\n    }\n    if (sBuf) parts.push(sBuf);\n  }\n  if (buffer) parts.push(buffer);\n\n  // Final safety pass: trim chunks that might still exceed MAX_TELEGRAM\n  return parts.flatMap(part => {\n    if (part.length <= MAX_TELEGRAM) return [part];\n    const re = new RegExp(`.{1,${SAFE_BUDGET}}`, 'g');\n    return part.match(re) || [];\n  });\n}\n\n// ============ Main ============\nconst inputItems = $input.all();\nconst out = [];\n\nfor (const item of inputItems) {\n  const j = item.json || {};\n  const raw =\n    j.message ?? j.output ?? j.text ?? j.content ?? '';\n\n  const formatted = processMarkdownV2Safe(raw);\n  const chunks = chunkForTelegram(formatted, SAFE_BUDGET);\n\n  chunks.forEach((chunk, idx) => {\n    out.push({\n      json: {\n        ...j,\n        message: chunk,\n        message_part_index: idx + 1,\n        message_parts_total: chunks.length,\n      },\n      binary: item.binary,\n    });\n  });\n}\n\nreturn out;\n"
      },
      "id": "79a14731-dc4e-40f5-acdd-8c57b35facc6",
      "name": "MarkdownV2",
      "type": "n8n-nodes-base.code",
      "position": [
        3152,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4",
          "mode": "list",
          "cachedResultName": "Нутрициолог",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Date",
              "lookupValue": "={{ $json.Date }}"
            },
            {
              "lookupColumn": "User_ID",
              "lookupValue": "={{ $json.User_ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cefd600e-5d57-4cf8-9de7-7cf7f78bb391",
      "name": "Get Meals Info",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2688,
        1584
      ],
      "typeVersion": 4.7,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FTzW39etm6tqHE0P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4",
          "mode": "list",
          "cachedResultName": "Нутрициолог",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "User_ID",
              "lookupValue": "={{ $json.User_ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "35ca2487-1a02-42e6-b7c8-a774f684fe5d",
      "name": "Get User Info",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2688,
        1840
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FTzW39etm6tqHE0P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }} {{ $json.message }}",
        "options": {
          "systemMessage": "=Ты — Cal AI 🏋️‍♂️🥦, дружелюбный фитнес-тренер и организатор питания.\nТвоя миссия — мотивировать пользователя, давать чёткие и точные рекомендации и управлять его данными по питанию.\nГовори в поддерживающем, энергичном тоне, как персональный тренер, и используй подходящие эмодзи (🔥💪🥦🍗🌾🥑), чтобы сделать общение лёгким и увлекательным.\n\nУ тебя есть 4 инструмента:\n\nappendMealData(tool) → сохранить строку с приёмом пищи в таблицу Meals.\nupdateProfileData(tool) → обновить целевые показатели профиля пользователя (поля: Name, Calories_target, Protein_target).\ngetUserData(tool) → получить информацию профиля пользователя.\ngetReport(tool) → создать или получить дневной отчёт (требуется дата).\n\n🔑 Правила\n\nАнализ изображения выполняется до тебя. Ты всегда получаешь структурированную информацию:\n\nMeal Description: [краткое описание]\nCalories: [число]\nProteins: [число]\nCarbs: [число]\nFat: [число]\n\nПосле получения этих данных вызови appendMealData.\n\nПосле успешного appendMealData подтверди в стиле тренера, повторив данные о приёме пищи с эмодзи:\n🔥 Калории, 🍗 Белки, 🌾 Углеводы, 🥑 Жиры.\n\nВ конце добавь короткую мотивационную фразу, например:\n\n«Отличное топливо для тела 💪🔥»\n\n«Ещё один шаг к цели 🥦🏋️‍♂️»\n\nВсегда предлагай следующие шаги:\n👉 «Посмотреть дневной отчёт 📑»\n👉 «Проанализировать ещё один приём пищи 📸»\n👉 «Посмотреть или обновить цели профиля ⚙️»\n\n🔄 Логика обновления профиля\n\nКогда пользователь хочет обновить Name, Calories_target или Protein_target:\n\nСначала вызови getUserData, чтобы получить текущий профиль.\n\nСравни запрошенные изменения с текущими значениями.\n\nВ updateProfileData передавай только изменённые поля (никогда не перезаписывай неизменённые).\n\nПодтверди дружелюбно, например:\n\n«✅ Твоя цель по калориям теперь 2200 🔥. Белки остаются 150 🍗.»\n\n«Профиль обновлён! Работаем дальше 💪🥦.»\n\n📑 Правила использования инструментов\n\ngetUserData → всегда вызывается перед обновлением профиля.\nupdateProfileData → включает только изменённые поля.\ngetReport → передаётся только нужная дата.\n\nДержи ответы короткими, чёткими, мотивирующими и энергичными.\n\n\n📅 Дата: {{ $today.format('yyyy-MM-dd') }}"
        }
      },
      "id": "8a832ab0-a1ef-4f44-b8ce-e2953ef548ca",
      "name": "Cal IA Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2848,
        912
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=updateProfileData\nPurpose: Update the user’s profile targets.\nFields that can be updated:\n\nName (string)\n\nCalories_target (string/number)\n\nProtein_target (string/number)\nWhen to use: When the user explicitly asks to update their name, calorie target, or protein target.",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4",
          "mode": "list",
          "cachedResultName": "Нутрициолог",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit#gid=0"
        },
        "columns": {
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "User_ID": "={{ $json.chat_id }}",
            "Protein_target": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Protein_target', ``, 'string') }}",
            "Calories_target": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calories_target', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "User_ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "User_ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Calories_target",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Calories_target",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Protein_target",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Protein_target",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "User_ID"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d574cd55-63ba-4239-86f0-f411fd2e8b1b",
      "name": "Update Profile Data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        3152,
        1168
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FTzW39etm6tqHE0P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=getUserData\nPurpose: Retrieve the user’s profile information.\nInputs: none.\nWhen to use: When the user asks about their profile info or targets.",
        "documentId": {
          "__rl": true,
          "value": "1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4",
          "mode": "list",
          "cachedResultName": "Нутрициолог",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "User_ID",
              "lookupValue": "={{ $json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d438489d-1901-442e-a8f8-f77cb4f9ecd5",
      "name": "Get Profile Data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        2864,
        1264
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FTzW39etm6tqHE0P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "description": "getReport\nPurpose: Generate or fetch the user’s daily nutrition report.\nInput required: date (string, format: YYYY-MM-DD).\nWhen to use: When the user asks to see their daily summary or report for a specific date.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "User_ID": "={{ $json.chat_id }}"
          },
          "schema": [
            {
              "id": "User_ID",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "User_ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "419a4dae-e73f-4106-ac25-d9d8d3a1af0b",
      "name": "Get Report",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        3296,
        1168
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "appendMealData\nPurpose: Store one meal entry into the Meals sheet.\nInputs required:\n\nMeal Description (string)\n\nCalories (number)\n\nProteins (number)\n\nCarbs (number)\n\nFat (number)\nWhen to use: Every time you receive structured meal information from image analysis.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4",
          "mode": "list",
          "cachedResultName": "Нутрициолог",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1587233955,
          "mode": "list",
          "cachedResultName": "Лист2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LOWWZz8_gLRBSzg7pY-tjAWE1u4OlIYZRkBp06X-il4/edit#gid=1587233955"
        },
        "columns": {
          "value": {
            "Date": "={{ $today.format(\"yyyy-LL-dd\") }}\n",
            "Fats": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fats', ``, 'string') }}",
            "Carbs": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Carbs', ``, 'string') }}",
            "User_ID": "={{ $json.chat_id }}",
            "Calories": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calories', ``, 'string') }}",
            "Proteins": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Proteins', ``, 'string') }}",
            "Meal_description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Meal_description', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "User_ID",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "User_ID",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Meal_description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Meal_description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Calories",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Calories",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Proteins",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Proteins",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Carbs",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Carbs",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Fats",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Fats",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4b3baa78-fa86-4c2a-88d5-95c4c1972e0f",
      "name": "Append Meal Data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        3008,
        1264
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FTzW39etm6tqHE0P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3ff7d44-6241-41c6-ac56-4549ba0cbd6d",
              "name": "Calories",
              "type": "number",
              "value": "={{ $json.Calories }}"
            },
            {
              "id": "64afda83-d211-48fa-830e-c0b7ddb5d50e",
              "name": "Proteins",
              "type": "number",
              "value": "={{ $json.Proteins }}"
            },
            {
              "id": "ab3861af-5716-400b-a736-f5a2dc4713a7",
              "name": "Carbs",
              "type": "number",
              "value": "={{ $json.Carbs }}"
            },
            {
              "id": "cce6d192-9bc9-401e-98b0-697dc4ec8f08",
              "name": "Fats",
              "type": "number",
              "value": "={{ $json.Fats }}"
            }
          ]
        },
        "options": {}
      },
      "id": "61379fc0-2691-499d-947b-5bb7a7825f12",
      "name": "Get Data",
      "type": "n8n-nodes-base.set",
      "position": [
        2896,
        1584
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "/**\n * Nutrition summary → Telegram MarkdownV2 (n8n Code node)\n */\n\nconst MAX_TELEGRAM = 4096;\nconst SAFE_BUDGET = 4000; // margen de seguridad\n\n// ============ Helpers de barras ============\nfunction makeProgressBar(current, target, length = 20) {\n  const ratio = Math.min(current / target, 1);\n  const filled = Math.round(ratio * length);\n  const empty = length - filled;\n  return '█'.repeat(filled) + '░'.repeat(empty);\n}\n\nfunction percent(current, target) {\n  if (!target || target === 0) return 0;\n  return Math.round((current / target) * 100);\n}\n\n// ============ Helpers MarkdownV2 ============\nfunction escapeMarkdownV2(text) {\n  if (!text) return '';\n  return String(text).replace(/([\\\\_*[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n}\n\nfunction escapeForUrl(url) {\n  return String(url).replace(/[)\\\\]/g, '\\\\$&');\n}\n\nfunction normalizeAndValidateUrl(url) {\n  let raw = String(url || '').trim();\n  try {\n    const u = new URL(raw);\n    return u.toString();\n  } catch {}\n  const domainLike = /^[a-z0-9.-]+\\.[a-z]{2,}([/:?#].*)?$/i.test(raw);\n  if (domainLike) {\n    try {\n      const u2 = new URL('https://' + raw);\n      return u2.toString();\n    } catch {}\n  }\n  return null;\n}\n\nfunction normalizeHeadings(text) {\n  return text.replace(/^(#{1,6})\\s+(.*)$/gm, (m, hashes, title) => `*${title.trim()}*`);\n}\n\nfunction normalizeCommonMd(text) {\n  return String(text)\n    .replace(/\\*\\*([\\s\\S]*?)\\*\\*/g, '*$1*')\n    .replace(/__([\\s\\S]*?)__/g, '_$1_');\n}\n\nfunction processMarkdownV2Safe(inputText) {\n  if (!inputText) return '';\n\n  let text = normalizeCommonMd(String(inputText));\n  text = normalizeHeadings(text);\n\n  const placeholders = { links: [], bolds: [], italics: [], spoilers: [] };\n\n  // Links\n  text = text.replace(/\\[([^\\]\\n]+)\\]\\(([^)]+)\\)/g, (m, label, url) => {\n    const normalizedUrl = normalizeAndValidateUrl(url);\n    if (!normalizedUrl) return escapeMarkdownV2(label);\n    const idx = placeholders.links.length;\n    const ph = `⟬L${idx}⟭`;\n    const safeLabel = escapeMarkdownV2(label);\n    const safeUrl = escapeForUrl(normalizedUrl);\n    placeholders.links.push(`[${safeLabel}](${safeUrl})`);\n    return ph;\n  });\n\n  // Bold\n  text = text.replace(/\\*([\\s\\S]+?)\\*/g, (m, inner) => {\n    const idx = placeholders.bolds.length;\n    const ph = `⟬B${idx}⟭`;\n    placeholders.bolds.push(`*${escapeMarkdownV2(inner)}*`);\n    return ph;\n  });\n\n  // Italic\n  text = text.replace(/_([\\s\\S]+?)_/g, (m, inner) => {\n    const idx = placeholders.italics.length;\n    const ph = `⟬I${idx}⟭`;\n    placeholders.italics.push(`_${escapeMarkdownV2(inner)}_`);\n    return ph;\n  });\n\n  // Spoilers\n  text = text.replace(/\\|\\|([\\s\\S]+?)\\|\\|/g, (m, inner) => {\n    const idx = placeholders.spoilers.length;\n    const ph = `⟬S${idx}⟭`;\n    placeholders.spoilers.push(`||${escapeMarkdownV2(inner)}||`);\n    return ph;\n  });\n\n  text = escapeMarkdownV2(text);\n\n  placeholders.links.forEach((md, i) => { text = text.replace(`⟬L${i}⟭`, md); });\n  placeholders.bolds.forEach((md, i) => { text = text.replace(`⟬B${i}⟭`, md); });\n  placeholders.italics.forEach((md, i) => { text = text.replace(`⟬I${i}⟭`, md); });\n  placeholders.spoilers.forEach((md, i) => { text = text.replace(`⟬S${i}⟭`, md); });\n\n  return text;\n}\n\nfunction chunkForTelegram(text, maxLen = SAFE_BUDGET) {\n  if (!text || text.length <= maxLen) return [text || ''];\n\n  const parts = [];\n  let buffer = '';\n\n  const flush = () => {\n    if (buffer) {\n      parts.push(buffer);\n      buffer = '';\n    }\n  };\n\n  const paragraphs = text.split(/\\n{2,}/);\n  for (const p of paragraphs) {\n    const candidate = buffer ? buffer + '\\n\\n' + p : p;\n    if (candidate.length <= maxLen) {\n      buffer = candidate;\n      continue;\n    }\n    if (p.length <= maxLen) {\n      flush();\n      buffer = p;\n      continue;\n    }\n    flush();\n    const sentences = p.split(/(?<=[.!?…])\\s+(?=[^\\s])/u);\n    let sBuf = '';\n    for (const s of sentences) {\n      const sCandidate = sBuf ? sBuf + ' ' + s : s;\n      if (sCandidate.length <= maxLen) {\n        sBuf = sCandidate;\n        continue;\n      }\n      if (s.length <= maxLen) {\n        if (sBuf) parts.push(sBuf);\n        sBuf = s;\n        continue;\n      }\n      if (sBuf) { parts.push(sBuf); sBuf = ''; }\n      let wBuf = '';\n      const words = s.split(/\\s+/);\n      for (const w of words) {\n        const wCandidate = wBuf ? wBuf + ' ' + w : w;\n        if (wCandidate.length <= maxLen) {\n          wBuf = wCandidate;\n          continue;\n        }\n        if (w.length <= maxLen) {\n          if (wBuf) parts.push(wBuf);\n          wBuf = w;\n          continue;\n        }\n        if (wBuf) { parts.push(wBuf); wBuf = ''; }\n        const re = new RegExp(`.{1,${maxLen}}`, 'g');\n        const hardPieces = w.match(re) || [];\n        parts.push(...hardPieces);\n      }\n      if (wBuf) parts.push(wBuf);\n    }\n    if (sBuf) parts.push(sBuf);\n  }\n  if (buffer) parts.push(buffer);\n\n  return parts.flatMap(part => {\n    if (part.length <= MAX_TELEGRAM) return [part];\n    const re = new RegExp(`.{1,${SAFE_BUDGET}}`, 'g');\n    return part.match(re) || [];\n  });\n}\n\n// ============ MAIN ============\nconst inputItems = $input.all();\nconst out = [];\n\nfor (const item of inputItems) {\n  const j = item.json || {};\n\n  // Datos dinámicos\n  const name = j.Name || 'User';\n  const cal = j.Total_Calories || 0;\n  const calTarget = j.Calories_target || 1;\n\n  const prot = j.Total_Proteins || 0;\n  const protTarget = j.Protein_target || 1;\n\n  const carbs = j.Total_Carbs || 0;\n  const fats  = j.Total_Fats || 0;\n\n  // Construcción del mensaje\n  let msg = `*Hello ${name}*\\nHere is your nutrition summary:\\n\\n`;\n\n  msg += `🔥 *Calories*: ${cal}/${calTarget} (${percent(cal, calTarget)}%)\\n`;\n  msg += makeProgressBar(cal, calTarget) + '\\n\\n';\n\n  msg += `🍗 *Protein*: ${prot}/${protTarget} (${percent(prot, protTarget)}%)\\n`;\n  msg += makeProgressBar(prot, protTarget) + '\\n\\n';\n\n  msg += `🌾 *Carbs*: ${carbs} g\\n`;\n  msg += `🥑 *Fats*: ${fats} g\\n`;\n\n  // Formateo seguro\n  const formatted = processMarkdownV2Safe(msg);\n  const chunks = chunkForTelegram(formatted, SAFE_BUDGET);\n\n  chunks.forEach((chunk, idx) => {\n    out.push({\n      json: {\n        ...j,\n        message: chunk,\n        message_part_index: idx + 1,\n        message_parts_total: chunks.length,\n      },\n      binary: item.binary,\n    });\n  });\n}\n\nreturn out;\n"
      },
      "id": "cdaef6c7-1a81-45b9-ae3d-ae9a2e95c9df",
      "name": "Get chart message",
      "type": "n8n-nodes-base.code",
      "position": [
        3408,
        1824
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Initialize accumulators\nlet totalCalories = 0;\nlet totalProteins = 0;\nlet totalCarbs = 0;\nlet totalFats = 0;\n\n// Sum up each field from every item\nfor (const item of items) {\n  const data = item.json;\n\n  totalCalories += Number(data.Calories || 0);\n  totalProteins += Number(data.Proteins || 0);\n  totalCarbs += Number(data.Carbs || 0);\n  totalFats += Number(data.Fats || 0);\n}\n\n// Return a single result with totals\nreturn [\n  {\n    json: {\n      Total_Calories: totalCalories,\n      Total_Proteins: totalProteins,\n      Total_Carbs: totalCarbs,\n      Total_Fats: totalFats,\n    }\n  }\n];\n"
      },
      "id": "102fcfa3-d818-43bb-babd-f84bfc60b02b",
      "name": "Unify data",
      "type": "n8n-nodes-base.code",
      "position": [
        3104,
        1584
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "User_ID"
            },
            {
              "name": "Date"
            }
          ]
        }
      },
      "id": "33e500fb-85f2-49d7-a3b4-d281d031a596",
      "name": "Get report",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2480,
        1696
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "750d5bca-c08f-42bb-b9cc-5709c6fad4a9",
              "name": "message",
              "type": "string",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d67a714-72ed-43b1-8e25-29e56fa7e908",
      "name": "Send back message",
      "type": "n8n-nodes-base.set",
      "position": [
        3584,
        1824
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "5a648e35-3af1-414a-ae20-1dff424a2a12",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        704,
        976
      ],
      "webhookId": "8790c189-591f-4f66-8025-fa7737fd6484",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "VAsyM5DDI45JbKTN",
          "name": "нутрициолог"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "4e670457-176d-446c-9cd7-bde4b43e53b4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        3248,
        1824
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2704,
        1120
      ],
      "id": "3c4458bf-be76-4d80-b29f-3aac7b6a2e58",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "E18ITK6KzmZageOn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "information"
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1968,
        1024
      ],
      "id": "e98385ac-94c7-4585-addb-601be66db6c0",
      "name": "Загрузить изображение"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What's in this image? Answer in Russian",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2144,
        1024
      ],
      "id": "500a8a18-234e-4daf-9bd0-ab8961ee3584",
      "name": "Проанализировать",
      "credentials": {
        "openAiApi": {
          "id": "E18ITK6KzmZageOn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03dd15b0-4f4d-4a61-8c2f-e6db45b1b594",
              "name": "text",
              "value": "=Вот текстовое описание изображения, полученное от модели анализа изображения: {{ $json.content }} Проанализируй его и выполни следующий запрос: }{{ $('Telegram Trigger').item.json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        960
      ],
      "id": "31132351-f875-4659-bad7-2d8b8e10fcdb",
      "name": "Совместить1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "3a91dd38-0f0e-489b-831b-c2d78d88ecc8",
      "name": "Голосовое в текст",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2032,
        848
      ],
      "credentials": {
        "openAiApi": {
          "id": "E18ITK6KzmZageOn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2864,
        1120
      ],
      "id": "281da755-e930-4fdb-ad6e-b40d0e75fcfa",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Get chart message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data": {
      "main": [
        [
          {
            "node": "Unify data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Report": {
      "ai_tool": [
        [
          {
            "node": "Cal IA Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get report": {
      "main": [
        [
          {
            "node": "Get Meals Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarkdownV2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal IA Agent": {
      "main": [
        [
          {
            "node": "MarkdownV2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download IMAGE": {
      "main": [
        [
          {
            "node": "Загрузить изображение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meals Info": {
      "main": [
        [
          {
            "node": "Get Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Meal Data": {
      "ai_tool": [
        [
          {
            "node": "Cal IA Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile Data": {
      "ai_tool": [
        [
          {
            "node": "Cal IA Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Typing…",
            "type": "main",
            "index": 0
          },
          {
            "node": "Input Message Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chart message": {
      "main": [
        [
          {
            "node": "Send back message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_error_message1": {
      "main": [
        [
          {
            "node": "Cal IA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_message (text)": {
      "main": [
        [
          {
            "node": "Cal IA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Profile Data": {
      "ai_tool": [
        [
          {
            "node": "Cal IA Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Input Message Router1": {
      "main": [
        [
          {
            "node": "get_message (text)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Voice Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download IMAGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_error_message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice Message": {
      "main": [
        [
          {
            "node": "Голосовое в текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Cal IA Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Загрузить изображение": {
      "main": [
        [
          {
            "node": "Проанализировать",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проанализировать": {
      "main": [
        [
          {
            "node": "Совместить1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Совместить1": {
      "main": [
        [
          {
            "node": "Cal IA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Голосовое в текст": {
      "main": [
        [
          {
            "node": "Cal IA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Cal IA Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db1b53f5-3695-478d-ad9f-3fb5e74224af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d77a879fc4984c50cd5495553b3e870b678eec007ab021af10443340cebad68"
  },
  "id": "Cfi55GLEGvZnGjU2",
  "tags": []
}